
h1{
    text-align: center;
    color:#7d5d3b;
}

.grid {
    width:100%;
    text-align: center;
}

.ctrl{
    text-align: center;
    margin-top: 20px;;
}

.simple-input {    
    padding: 5px;
    border: 4px solid #7d5d3b;
    border-radius: 5px;
    color: #333;
    transition: all 0.3s ease-out;
    width:300px;
  }
  
  .simple-input:hover { border-radius: 8px; }
  .simple-input:focus { 
    outline: none;
    border-radius: 8px; 
    border-color: #EBD292;
  }

  .btn {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.btn:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
}
.btn:active {
	position:relative;
	top:1px;
}


  table.tbl {
    border: 6px solid #948473;
    background-color: #FFE3C6;
    width: 100%;
    text-align: center;
  }
  table.tbl td, table.tbl th {
    border: 1px solid #948473;
    padding: 4px 4px;
  }
  table.tbl tbody td {
    font-size: 13px;
  }
  table.tbl thead {
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
  }
  table.tbl thead th {
    font-size: 17px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
    border-left: 2px solid #948473;
  }
  table.tbl thead th:first-child {
    border-left: none;
  }
  
  table.tbl tfoot {
    font-size: 16px;
    font-weight: bold;
    color: #F0F0F0;
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
  }
  table.tbl tfoot td {
    font-size: 16px;
  }